<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paintersgathering">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PaintersGathering">
        <activity
            android:name=".ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".Admin.ShowStores"
            android:exported="false" />
        <activity
            android:name=".Admin.ShowEvents"
            android:exported="false" />
        <activity
            android:name=".User.UserRequesting"
            android:exported="false" />
        <activity
            android:name=".Admin.Event"
            android:exported="false" />
        <activity
            android:name=".Admin.Store"
            android:exported="false" />
        <activity
            android:name=".User.Courses"
            android:exported="false" />
        <activity
            android:name=".Painter.PainterRequestDrawing"
            android:exported="false" />
        <activity
            android:name=".User.UserRequestDrawing"
            android:exported="false" />
        <activity
            android:name=".User.UserProfile"
            android:exported="false" />
        <activity
            android:name=".Painter.AddCourse"
            android:exported="false" />
        <activity
            android:name=".Painter.AddDrawing"
            android:exported="true" />
        <activity
            android:name=".Painter.PainterProfile"
            android:exported="true" />
        <activity
            android:name=".Admin.AdminHomePage"
            android:exported="true" />
        <activity
            android:name=".Painter.PainterHomePage"
            android:exported="true" />
        <activity
            android:name=".User.UserHomePage"
            android:exported="true" />
        <activity
            android:name=".RegisterPage"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".FirstPage"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>